<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.alexgilleran.icesoap.example" android:versionCode="1" android:versionName="0.0.1-SNAPSHOT">
<uses-permission android:name="android.permission.INTERNET"/>

  <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.alexgilleran.icesoap.example.guice.Application">
    <activity android:name=".activities.DictionaryListActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".activities.DefineActivity"></activity>
  </application>

  <uses-sdk android:minSdkVersion="8" />

</manifest>

